*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{position: relative;
    overflow: hidden;
}
.bigContainer{
    width: 100%;
    height: 100vh;
    flex-wrap:initial;
    overflow: hidden;
    position: relative;
}
.bigContainer img{
    object-fit: cover;
    width:100%;
    height: 100vh;
    
}
.number{
    z-index: 100;
    position: absolute;    
    color: white;
    top: 40%;
    left: 20px;
}
body .number{
    font-size: 6rem;
}
.content{
    z-index: 100;
    position: absolute;    
    color: white;
    top: 20%;
    left: 20px;
}
.content::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(20px);
    z-index: -1;
}
.content h1{
    font-size: 4rem;
    padding: 1rem;
}
main{
    min-width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
}
main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:inherit;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    overflow: hidden;
}
.container img{
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 0px 10px;
    border-radius: 5px;
}
.bigContainer .items{
    display: none;
}
.bigContainer .show{
    display: block;
}
main .container .show{
    display: block;
    animation: fade .5s ease-in-out;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {
        transform: scale(1.2); 
    } 
    to {
        transform: scale(1);
    }
}
.button{
    position: fixed;
    left: 20px;
    top: 60%;
    display: flex;
}
.button {
    font-size: 3rem;
    border-radius: 50%;
    background-color: transparent;
}
.button i{
    font-size: 2rem;
    color: white;
    border: 2px solid white;
    padding: 1rem;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
    transition: .5s cubic-bezier(1, 0, 0, 1);
}
.button i:hover{
   background-color: white;
   color: black;

}
@media screen and (max-width: 1400px) {
    .button i{
        font-size: 1.3rem;
        padding: .5rem;   
    }
    body .number{
        font-size: 4rem;
    }
    .content h1{
        font-size: 3rem;
        padding: 1rem;
    }
    main .container{
        width: 90%;
    }
    .container img{
        width: 150px;
    }
}
@media screen and (max-width: 900px) {
    .button i{
        font-size: 1.3rem;
        padding: .5rem;   
    }
    body .number{
        font-size: 4rem;
    }
    .content h1{
        font-size: 3rem;
        padding: 1rem;
    }
    main .container{
        width: 90%;
    }
    .container img{
        width: 150px;
    }
    main{
        display: none;
    }
}
@media screen and (max-width: 700px) {
    .button i{
        font-size: 1.3rem;
        padding: .5rem;   
    }
    body .number{
        font-size: 3rem;
    }
    .content h1{
        font-size: 2.3rem;
        padding: .6rem;
    }
    .container img{
        width: 150px;
    }
   
}
@media screen and (max-width: 500px) {
    /* .bigContainer{
        height: 80vh;
    } */
    .content{
        top: 50%;
        left: 20px;
    }
    .number{
        top: 60%;
    }
    .button{    
        top: 70%;
    }
}