{% extends 'base.html' %}
{% load static %}

{% block titile %}AtopicSkin{% endblock %}

{% block contents %}

<section>
    <div class="link_t">
        <a href="#">情報一覧</a>
    </div>
    <div class="disease1_1">
        <a class="disease1">
            アトピー性皮膚炎
        </a>
    </div>
    <div class="contents">
        <div class="box_list">
            <ul>
                <li>
                    <a href="#">
                        <span class="t">1</span>
                        アトピー性皮膚炎に関する研究
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="t">2</span>
                        アトピー性皮膚炎に関する研究
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="t">3</span>
                        アトピー性皮膚炎に関する研究
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="t">4</span>
                        アトピー性皮膚炎に関する研究
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="t">5</span>
                        アトピー性皮膚炎に関する研究
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span class="t">6</span>
                        アトピー性皮膚炎に関する研究
                    </a>
                </li>
            </ul>
            <!-- end #contents -->
        </div>
    </div>
    <div class="ptop">
        <a href="">
            <img src="https://www.dermatol.or.jp/qa/img/btn_top.png" width="145" height="25" alt="このページの先頭へ">
        </a>
    </div>   
{% endblock %}