<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Information</title>
    <link rel="stylesheet" href="Dropdown navigation.css">
</head>

<body>
    <div class="navbar">
        <a href="#home">Home</a>
        <a href="#new">News</a>
        <!-- ドロップダウン -->
        <!-- ボタンとリンク -->
        <div class="dropdown">
            <div class="dropbtn">
                dropdown
                <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
    </div>
</body>

</html>