<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Information</title>
    <link rel="stylesheet" href="Navigation_2.css">
</head>
<body>
<!-- not responsive yet -->
<nav>
    <ul id="main">
      <li>皮膚病情報発信</li>
      <li>ブログ</li>
      <li>ライブ配信
        <!-- <ul class="drop">
          <div>
          <li></li>
          <li></li>
          <li></li>
          </div>
        </ul> -->
      </li>
      <li>アカウント
        <ul class="drop">
            <div>
                <li>サインアップ</li>
                <li>ログイン</li>
            </div>
        </ul>
      </li>
      <li>医者さんへ</li>
      <div id="marker"></div>
    </ul>
  </nav>
</body>
</html>