<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Slideshow</title>
    <link rel="stylesheet" href="Simple Image Slider Transitions.css">
</head>

<body>
    <a href="https://youtu.be/DbwdbNi_QUk" target="_blank" data-keyframers-credit style="color: #FFF;"></a>
    <script src="https://codepen.io/shshaw/pen/QmZYMG.js"></script>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
         -->

    <div id="app" data-state="0">
        <div class="ui-big-images">
            <div class="ui-big-image" data-key="0">
                <img src="https://i.picsum.photos/id/1005/1200/1200.jpg?hmac=_axk8QzROjotW6UPv5_xvVNSNJxmQa4q36VFqrrL0rc" alt="" />
            </div>
            <div class="ui-big-image" data-key="1">
                <img src="https://i.picsum.photos/id/804/1200/1200.jpg?hmac=7F1j0J_bJlRqMQHgU_hRrDdNL31wTS8oV3AomvcU3I0" alt="" />
            </div>
            <div class="ui-big-image" data-key="2">
                <img src="https://i.picsum.photos/id/838/1200/1200.jpg?hmac=lksM5fzxHrU4a1HvYpskoYhYbsZTGuPxJ0VKo8ZUV90" alt="" />
            </div>
            <div class="ui-big-image" data-key="3">
                <img src="https://i.picsum.photos/id/832/1200/1200.jpg?hmac=lRzqjpA2tAAtesi7oQryAV_FiM1CJy9_icU4Fink3nA" alt="" />
            </div>
            <div class="ui-big-image" data-key="4">
                <img src="https://i.picsum.photos/id/836/1200/1200.jpg?hmac=N83prGJ2f9C_OYQfb_ZBiy0XnCVGVt36-A8Z4_UEz0Q" alt="" />
            </div>
            <div class="ui-big-image" data-key="5">
                <img src="https://i.picsum.photos/id/823/1200/1200.jpg?hmac=CRsOrbA4e_RFPUdBb6KjdjbNOsQtmxFu03QCIvN1hTk" alt="" />
            </div>
        </div>
        <div class="ui-thumbnails">
            <div class="ui-thumbnail" tabindex="-1" data-key="0">
                <img src="https://i.picsum.photos/id/1005/1200/1200.jpg?hmac=_axk8QzROjotW6UPv5_xvVNSNJxmQa4q36VFqrrL0rc" alt="" />
                <div class="ui-cuticle" data-flip-key="cuticle"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="1">
                <img src="https://i.picsum.photos/id/804/1200/1200.jpg?hmac=7F1j0J_bJlRqMQHgU_hRrDdNL31wTS8oV3AomvcU3I0" alt="" />
                <div class="ui-cuticle" data-flip-key="cuticle"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="2">
                <img src="https://i.picsum.photos/id/838/1200/1200.jpg?hmac=lksM5fzxHrU4a1HvYpskoYhYbsZTGuPxJ0VKo8ZUV90" alt="" />
                <div class="ui-cuticle" data-flip-key="cuticle"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="3">
                <img src="https://i.picsum.photos/id/832/1200/1200.jpg?hmac=lRzqjpA2tAAtesi7oQryAV_FiM1CJy9_icU4Fink3nA" alt="" />
                <div class="ui-cuticle" data-flip-key="cuticle"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="4">
                <img src="https://i.picsum.photos/id/836/1200/1200.jpg?hmac=N83prGJ2f9C_OYQfb_ZBiy0XnCVGVt36-A8Z4_UEz0Q" alt="" />
                <div class="ui-cuticle" data-flip-key="cuticle"></div>
            </div>
            <div class="ui-thumbnail" tabindex="-1" data-key="5">
                <img src="https://i.picsum.photos/id/823/1200/1200.jpg?hmac=CRsOrbA4e_RFPUdBb6KjdjbNOsQtmxFu03QCIvN1hTk" alt="" />
                <div class="ui-cuticle" data-flip-key="cuticle"></div>
            </div>
        </div>
        <div class="ui-content">

            <nav class="ui-nav">
                <button id="prev" tabindex="-1" title="Previous">&lt;</button>
                <button id="next" tabindex="-1" title="Next">&gt;</button>
            </nav>

            <div class="ui-articles">
                <article class="ui-article" data-key="0">
                    <h2 class="ui-heading">Stephen Shaw</h2>
                    <p class="ui-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae cupiditate
                        assumenda nemo delectus totam atque quas suscipit dicta.</p>
                </article>
                <article class="ui-article" data-key="1">
                    <h2 class="ui-heading">David Khourshid</h2>
                    <p class="ui-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod sapiente
                        soluta iusto molestias ullam. </p>
                </article>
                <article class="ui-article" data-key="2">
                    <h2 class="ui-heading">Coding Compadre</h2>
                    <p class="ui-paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. </p>
                </article>
                <article class="ui-article" data-key="3">
                    <h2 class="ui-heading">Boolean Buddy</h2>
                    <p class="ui-paragraph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. </p>
                </article>
                <article class="ui-article" data-key="4">
                    <h2 class="ui-heading">Animation Amigo</h2>
                    <p class="ui-paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
                        exercitationem voluptatibus</p>
                </article>
                <article class="ui-article" data-key="5">
                    <h2 class="ui-heading">Keyframe Companion</h2>
                    <p class="ui-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae soluta
                        reprehenderit, ut doloribus corrupti</p>
                </article>
            </div>
        </div>
    </div>
    <script src="Simple Image Slider Transitions.js"></script>
</body>

</html>