<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>Information</title>
    <link rel="stylesheet" href="Navigation_5.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="Particle.css">
    <link rel="stylesheet" href="footer_1.css">
</head>

<body>

    <h1>Intractable Skin Disease Support System</h1>
    <p>Intractable Skin Disease Support System.Creating a comfortable environment to live in.</p>

    <nav class="navbar" role='navigation'>

        <ul class="menu no-js">
            <li class="menu-item"><a href="#">皮膚病情報 Information</a></li>
            <li class="menu-item"><a href="#">ブログ Blog</a></li>
            <li class="menu-item"><a href="#">ライブ配信 live</a></li>
            <li class="menu-item"><a href="#">アカウント account</a>
                <ul class="sub-menu">
                    <li class="menu-item_1"><a href="#">ログイン</a></li>
                    <li class="menu-item_1"><a href="#">サインアップ</a></li>
                </ul>
            </li>
            <li class="menu-item"><a href="#">医者さんへ To the doctor</a></li>
        </ul>
    </nav>

    <div class="slider">
        <div class="slider-wrapper flex">
            <div class="slide flex">
                <div class="slide-image slider-link prev"><img src="images_1/1.png">
                    <div class="overlay"></div>
                </div>
                <div class="slide-content">
                    <div class="slide-date">10.10.2022.</div>
                    <div class="slide-title">表皮水疱症</div>
                    <div class="slide-text">ネットから参加できる研究 RUDY JAPAN<br>
                        RUDY JAPAN(ルーディージャパン)は、ネットから参加できる医学研究です。<br>
                        登録後、定期的にアンケートに回答していただきます。
                        患者さんと研究者が一緒に研究を進めながら、難病・希少疾患をかかえる患者さんの症状や日常生活に関する情報を収集し、病気の理解を進めることを目的としています。
                    </div>
                    <a class="slide-more" href="https://debra-japan.com/2020/06/13/433/">READ MORE<a>
                </div>
            </div>
            <div class="slide flex">
                <div class="slide-image slider-link next"><img src="images_1/3.png">
                    <div class="overlay"></div>
                </div>
                <div class="slide-content">
                    <div class="slide-date">04.08.2022.</div>
                    <div class="slide-title">ASDR 2022 Annual Scientific Meeting</div>
                    <div class="slide-text">The meeting program will cover the most innovative aspects of dermatology
                        including:<br>
                        ・Rare Skin Cancer/Diseases<br>・Keratinocyte Cancer - Genetics/Genomics/Therapeutics<br>
                        ・Molecular Pathology and Epithelial Cell Biology<br>
                        ・Inflammatory Skin Diseases and Autoimmunity,<br>
                    </div>
                    <a href="https://www.asdr.org.au/asdr-2022" class="slide-more">READ MORE<a>
                </div>
            </div>
            <div class="slide flex">
                <div class="slide-image slider-link next"><img src="images_1/4.png">
                    <div class="overlay"></div>
                </div>
                <div class="slide-content">
                    <div class="slide-date">02.06.2022.</div>
                    <div class="slide-title">第121回日本皮膚科学会総会</div>
                    <div class="slide-text">The 121st Annual Meeting of the Japanese Dermatological Association.<br>
                        SDGs - Sustainable Dermatology Goals-（持続可能な皮膚科学の目標）</div>
                    <a class="slide-more" href="https://jda121.jp/">READ MORE</a>
                </div>
            </div>
            <div class="slide flex">
                <div class="slide-image slider-link next"><a href="http://allergy.gr.jp/archives/2452"><img
                            src="images_1/5.png"></a>
                    <div class="overlay"></div>
                </div>
                <div class="slide-content">
                    <div class="slide-date">27/28.08.2022.</div>
                    <div class="slide-title">アトピーでも人生を楽しむためには？</div>
                    <div class="slide-text">全国どこからでもご自宅のパソコンやスマホで参加できます。Zoomって初めて使うけど大丈夫?という方も歓迎です。<br>
                        ・症状のこと、使っている薬のこと、通っている病院のこと<br>
                        ・家族や友人とのつき合い<br>
                        ・かゆくなったときどうやって対処しているの？<br>
                        ・なんで自分だけこんな皮膚なのって思ったことある?<br>
                        ・震災や台風などの災害にどう備える？</div>
                    <a class="slide-more" href="http://allergy.gr.jp/archives/2452">READ MORE</a>
                </div>
            </div>
        </div>
        <div class="arrows">
            <a href="#" title="Previous" class="arrow slider-link prev"></a>
            <a href="#" title="Next" class="arrow slider-link next"></a>
        </div>

    </div>
    <div class="textcontainer">
        <span class="particletext confetti">皮膚難病支援システムとは</span>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
    <script src="script.js"></script>
    <script src="Particle.js"></script>
    <script src="footer_1.js"></script>

    <footer class="flex-rw">

        <ul class="footer-list-top">
            <li>
                <h5 class="footer-list-header">ガイドライン</h5>
            </li>
            <li><a href='/shop/about-mission' class="generic-anchor footer-list-anchor"
                    itemprop="significantLink">利用規則</a>
            </li>
            <li><a href='/promos.html' class="generic-anchor footer-list-anchor"
                    itemprop="significantLink">プライバシーポリシー</a>
            </li>

            <li><a href='/job-openings.html' itemprop="significantLink"
                    class="generic-anchor footer-list-anchor">サイトについて</a></li>
        </ul>
        <ul class="footer-list-top">
            <li>
                <h5 class="footer-list-header">患者さん・一般の皆さま</h5>
            </li>
            <li><a href='/Angels/cat/id/70' class="generic-anchor footer-list-anchor">お問い合わせ</a></li>
            <!-- <li><a href='/Home-Decor/cat/id/64' class="generic-anchor footer-list-anchor">HOME DECOR</a></li> -->
        </ul>
        <ul class="footer-list-top">
            <li id='help'>
                <h5 class="footer-list-header">医療関係者の皆さま</h5>
            </li>
            <li><a href='/shop/about-contact' class="generic-anchor footer-list-anchor"
                    itemprop="significantLink">お問い合わせ</a></li>
            <!-- <li><a href='/faq.html' class="generic-anchor footer-list-anchor" itemprop="significantLink">FAQ</a></li> -->
        </ul>
        <section class="footer-bottom-section flex-rw">
            <div class="footer-bottom-wrapper">
                <i class="fa fa-copyright" role="copyright">
                </i> 2022 Intractable Skin Disease Support System
            </div>
            <div class="footer-bottom-wrapper">
                <a href="/terms-of-use.html" class="generic-anchor" rel="nofollow">Terms</a> |
                <a href="/privacy-policy.html" class="generic-anchor" rel="nofollow">Privacy</a>
            </div>
        </section>
    </footer>
</body>

</html>