{% extends 'base.html' %}
{% load static %}

{% block titile %}Information{% endblock %}

{% block contents%} 
<section>
    <div class="">
        <!-- <div class="bg order-1 order-md-2" style="background-image: url('/static/images/bg_1.jpg');"></div> -->
        <div class="contents order-2 order-md-1">
 
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="mb-4">
                            <h3>Sign In</h3>
                            <!-- <p class="mb-4">django-social-auth</p> -->
                        </div>
                        <form action="#" method="post">
 
 
 
                            <div class="social-login">
                                <a href="{% url 'signup:social:begin' 'google-oauth2' %}"
                                    class="google btn d-flex justify-content-center align-items-center">
                                    <span class="icon-google mr-3"></span> Sign in with Google
                                </a>
                            </div>
 
                            <div class="row">
                                <div class="col-md-8 mx-auto my-2 order-md-1">
                                    <button class="login-with-google-btn">
                                        <a href="{% url 'signup:social:begin' 'google-oauth2' %}"> Sign in with Google</a>
                                    </button>
                                </div>
                            </div>
 
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}