{% load static%}

{% block titile %}Admini_SkinDiseaseInformation{% endblock %}

{% block contents%}
    <table>
        <tr>
            <td>アトピー性皮膚炎</td>
            <td>神経線維腫症</td>
            <td>天疱瘡</td>
            <td>表皮水疱症</td>
            <td>膿疱性乾癬</td>
        </tr>    
        <tr>
            <td>スティーヴンス・ジョンソン症候群</td>
            <td>中毒性表皮壊死症</td>
            <td></td>
            <td></td>
            <td></td> 
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>    
    </table>    
{% endblock %}