.flex-rw h5 {
    padding: 0;
}

.flex-rw {
    font: 11px "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* margin: auto; */
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

html {
    padding: 0;
    margin: 0;
}

.generic-anchor {
    color: #8DB9ED;
}

.generic-anchor:visited {
    color: #8DB9ED;
}

.generic-anchor:hover {
    color: #ccc;
}

.flex-rw {
    display: flex;
    flex-flow: row wrap;
}

footer {
    /* margin: 0 -80px -40px -40px; */
    background: #00133e;
    width: 100%;
}

.footer-list-top {
    width: 30%;
    padding: 30px 0 0 0;
}

.footer-list-top>li {
    text-align: center;
}

.footer-list-header {
    padding: 5px 0 5px 0;
    color: #fff;
    font: 1.0vw "Oswald", sans-serif;
}

.footer-list-anchor {
    font: 1.3em "Open Sans", sans-serif;
}

.footer-social-section {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-top: 5px;
}

.footer-social-section::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10px;
    border-top: 1px solid #ccc;
    width: calc(100% - 20px);
}

.footer-social-overlap {
    position: relative;
    z-index: 2;
    background: #00133e;
    padding: 0 20px;
}

.footer-social-connect {
    display: flex;
    align-items: center;
    font: 2.5em "Oswald", sans-serif;
    color: #fff;
}

.footer-social-small {
    font-size: 0.6em;
    padding: 0px 20px;
}

.footer-social-overlap>a {
    font-size: 3em;
}

.footer-social-overlap>a:not(:first-child) {
    margin-left: 0.38em;
}

.footer-bottom-section {
    width: 100%;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: 10px;
}

.footer-bottom-section>div:first-child {
    margin-right: auto;
}

.footer-bottom-wrapper {
    font-size: 1em;
    color: #fff;
}